.tenis-1 {
    background-color: #E2E3FF;
}

.tenis-2 {
    background-color: #FFE8BC;
}

.tenis-3 {
    background-color: #FFC0BC;
}

.tenis-4 {
    background-color: #DEC699;
}

.tenis-5 {
    background-color: #E8DFCF;
}