.product-options {
    display: flex;
    gap: 10px;
  }
  
  .option.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #474747;
    border-color: black;
  }
  
  .option.circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
  }
  
  .option.selected {
    border: 2px solid #C92071;
  }
  