.product-options {
  display: flex;
  gap: 15px;
  background-color: #F5F5F5;
 
}
#titulo{
  background-color:#F5F5F5;;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.3s ease;
  
 
  
}

.square {
  width: auto;
  height: 46px;
  padding: 12px;
  
  
}

.circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  
}

.text {
  color: #CCCCCC;
  font-size: 24px;
  font-weight: bold;

}

.color {
  color: transparent;
}


